    <h2>Booking</h2>
    <p>Looking to hire a jazz band for a private event or function? Simply fill out the form below with your needs and projected budget and we will put you in touch with professional jazz musicians who are willing and able to do the job.</p>
    <div id="eventForm">
    <form action="./booking.php" method="post">
        <?php
        createInput('name', 'text', $booking_errors, 'Your Name: ');
        createInput('email', 'text', $booking_errors, 'Your Email: ');
        createInput('msg', 'textarea', $booking_errors, 'Message: ');
        ?>
        <input type="submit" value="Send" />
        </form>
    </div>
</div>